#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: node_exporter
  scrape_interval: 15s
  static_configs:
  - targets: ["{{ groups["webservers"] | map('extract', hostvars, ['ansible_host']) | join(':9100", "')}}:9100", "{{ groups["loadbalancers"] | map('extract', hostvars, ['ansible_host']) | join(':9100", "')}}:9100",]
- job_name: haproxy
  static_configs:
    - targets: ["{{ groups["loadbalancers"] | map('extract', hostvars, ['ansible_host']) | join(':9090", "')}}:9090"]
{% endif %}